.navBlock {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.linkBlock {
    color: #ffffff;
    display: flex;
}

.linkBlock a {
    color: #ffffff;
    display: inline-block;
    padding: 22px 23px;

}